
.form_container {
  margin: 1.5rem;
  width: max-content;
}
.form_button_container {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  justify-content: flex-end;
}

.form_field { 
  display: flex;
  flex-direction: column;
}

.common_form_input {
  width: 50rem;
  height: 3rem;
  margin-top: 10px;
  border-color: rgb(20, 20, 20);
  border-width: 1px;
  padding-left: 15px;
}


.common_form_description {
  width: 50rem;
  height: 7rem;
  margin-top: 10px;
  border-color: rgb(20, 20, 20);
  border-width: 1px;
  padding-left: 15px;
  /* text-align:start; */
}
