.task_description {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.common_title_container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.body_title {
  font-weight:700;
  font-size: larger;
}

.mutable_button {
  background-color: #c4c4c4;
  border: none;
  margin-left: 2rem;
  width: 5rem;
  height: 1.8rem;
  border-radius: 7px;
}

.mutable_button:hover {
  background-color: rgb(220, 221, 223);
}

.mutable_button:active {
  background-color: rgb(167, 168, 170);
}

.list {
  padding-left: 0;
}

.item {
  display: flex;
  align-items: flex-start;
  color: #4c87de;
  list-style: none;
  margin-bottom: 2rem;
  width: 35rem;
  justify-content: space-between;
}

.item_link {
  color: #4c87de;
}

.member_link {
  color: #4c87de;
}
